<p id="notice"><%= notice %></p>
<div class="child row">
  <div class="wrapper col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
    <div class="blog-text">
      <p class="left"><strong>ブログタイトル：</strong></p>
      <p class="left"><%= @blog.title %></p>
      <p class="left"><strong>ブログ内容：</strong></p>
      <p class="left"><%= @blog.content %></p>
      <p class="right">
      　<strong>ブログ作成者：</strong><%= @blog.user.name %><br>
        <strong>ブログ作成時間：</strong><%= @blog.created_at.strftime("%y/%m/%d %p %l:%M") %>
      </p>
    </div>
    <H2>コメント一覧</H2>
    <div id="comments_area">
      <%= render partial: 'comments/index', locals: { comments: @comments, blog: @blog } %>
    </div>
    <%= render partial: 'comments/form', locals: { comment: @comment, blog: @blog } %>
    <br>
    <% if current_user.id == @blog.user_id %>
      <%= link_to 'ブログ編集', edit_blog_path(@blog) %> |
    <% end %>
    <%= link_to 'ブログ一覧', blogs_path %> |
    <%= link_to '通知一覧', notifications_index_path %>
  </div>
</div>